<!--<aside class="bg-dark h-100 fixed-top">
  <a routerLink="/" routerLinkActive="active"
     class="d-block p-3 link-dark text-decoration-none border-bottom fw-bold text-center text-primary"
     title="Logo" data-bs-toggle="tooltip" data-bs-placement="right">
    <span aria-label="Project Management">PM</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active"
         class="nav-link py-3 border-bottom fw-bold text-center rounded-0"
         aria-current="page" title="Dashboard"
         data-bs-toggle="tooltip" data-bs-placement="right">-->
<!--<svg class="bi" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"></use></svg>-->
<!--<span aria-label="Dashboard">DB</span>
      </a>
    </li>
  </ul>
</aside>-->
<!--  class="content" -->
<div>
  <!-- Header -->
  <header>
  </header>
  <!-- Content -->
  <section class="my-5">
    <router-outlet></router-outlet>
  </section>
  <!-- Footer -->
  <footer></footer>
</div>
